.wrapper
  = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          sample
        .left-header__members
          members: seoneko

      .right-header
        edit
    .right-header__button
      



    
    .messages
      
      .message
        .upper-message 
          .upper-message__user-name
            SEO
          .upper-message__date
            2019/08/27     12:12:12
        .lower-message
          .lower-message__content
            Hello world!
            



    
    
    
    .form
      = form_for group_messages_path do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          
          .form__mask__image
            .hidden

      .form__submit  

  
    
  
    